# Python
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# Project specific
faces/
excels/
*.csv
*.log

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.db
faceattendence.db